/* ANIMATION TEXTE */
@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(180deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

/* CONTENEUR PRINCIPALE */
.article {
  background-color: rgba(0, 0, 0, 0.411);
  padding: 40px;
}

.article h2 {
  width: 100%;
  text-align: center;
  font-family: "Charm", cursive;
  font-size: 4.2rem;
  color: orange;
  margin-bottom: 20px;

  /* ANIMATION INFINIE */
  animation: hueRotate 3s linear infinite;
}

.article article {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  padding: 15px 10px;
  border: 1px solid rgb(85, 0, 182);
  border-radius: 15px;
}

.article article:hover {
  box-shadow: 0 0 20px rgba(140, 0, 255, 0.6);
  transition: box-shadow 0.3s;
}

/* COLONNE 1 */
.article__div {
  flex-basis: 400px;
  flex-grow: 1;
  flex-shrink: 0;
}

.article__div h3 {
  text-shadow: 0 0 10px rgba(255, 0, 255, 0.4);
}

.article__div h4 {
  text-shadow: 1px 1px 5px cyan;
}

.article__div p {
  letter-spacing: 1px;
}

/* COLONNE 2*/
.article__figure {
  flex-basis: 400px;
  flex-grow: 1;
  flex-shrink: 0;
}

.article article:nth-of-type(odd) .article__figure {
  order: -1; /* "ORDER" POUR METTRE SOIT LE DIV SOIT LA FIGURE EN PREMIER */
}

.article__figure img {
  width: 100%;
  height: 300px;
  transition: transform 1s;
  transition: filter 1s;
}

.article__figure img:hover {
  transform: scale(1.05);
  filter: hue-rotate(180deg);
}

.article__figure figcaption {
  text-align: center;
}
