.inscription__formulaire {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inscription__formulaire fieldset label {
  font-family: "Charm", cursive;
  font-size: 1.5rem;
}

.inscription__div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inscription fieldset {
  margin: 30px 0;
  border: none;
}

.inscription__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 60px 20px;
  border-radius: 20px;
  backdrop-filter: blur(6px);
  border: none;
  color: white;
  text-align: center;
}

.inscription__abonnement {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.abonnement__titre {
  text-align: center;
  font-size: 2rem;
}

.inscription__abonnement label {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.1rem;
}

.inscription__valider {
  font-family: "Tangerine", cursive;
  font-size: 3rem;
  padding-top: 10px;
  background: linear-gradient(180deg, #5a2ea6, #833ab4);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.inscription__valider:hover {
  transform: scale(1.1);
}
