.video {
  background-color: rgba(0, 0, 0, 0.611);
  padding: 40px;
}

.video h1 {
  width: 100%;
  text-align: center;
  font-family: "Charm", cursive;
  font-size: 4.2rem;
  color: orange;
  margin-bottom: 30px;
  animation: hueRotate 3s linear infinite;
}

/* CONTENEUR */
.video__figure {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  backdrop-filter: blur(6px);
  padding: 20px;
  border: 1px solid rgb(85, 0, 182);
  border-radius: 15px;
  transition: box-shadow 0.3s;
}

.video__figure:hover {
  box-shadow: 0 0 25px rgba(140, 0, 255, 0.6);
}

/* VIDEO CARDS */
.video iframe {
  flex-basis: 400px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  border-radius: 12px;
  border: none;
  filter: hue-rotate(180deg);
  box-shadow: 0 0 15px rgba(255, 0, 255, 0.25);
  transition: transform 0.6s;
  transition: filter 0.6s;
  transition: box-shadow 0.6s;
}

.video iframe:hover {
  transform: scale(1.05);
  filter: hue-rotate(0deg);
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.6);
}
